/**
Primitives로 정의되어 있어 수정 필요
*/

.container {
  display: flex;
  padding: var(--primitives_spacing-5) var(--primitives_spacing-6);
  border-radius: var(--primitives_radius-lg);
  background-color: var(--primitives_color_gray-800);
  color: var(--text-invert);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.titleContainer {
  padding: 0px;
  margin-bottom: var(--primitives_spacing-4);
}

.postContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--primitives_spacing-2);
}

.postItemContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--primitives_spacing-1);
}

.postInfoContainer > h5:nth-of-type(1) {
  width: var(--primitives_spacing-4);
  text-align: center;
}

.postInfoContainer a {
  text-decoration: none;
  color: var(--text-secondary-white);
}
