.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 734px;
  overflow-x: hidden;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 64px;
}

.content {
  width: 100%;
  display: flex;
  height: 100%;
  /*overflow-x: auto;*/
}

.item {
  flex: 0 0 320px;
  height: 620px;
  margin-right: 56px;
  display: flex;
  flex-direction: column;
}

.item:last-child {
  margin-right: 0;
}

.itemPicture {
  width: 320px;
  height: 533px;
  background-color: grey;
  color: black;
  border-radius: var(--primitives_radius-lg);
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  font-size: 14px;
  color: black;
}

.itemTitle {
  color: white;
  margin-bottom: 8px;
}

.itemTag {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: grey;
  color: black;
  border-radius: var(--primitives_radius-lg);
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.tag:first-child {
  margin-left: 0;
}
