.video-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-player {
  position: relative;
  width: 75%;
}

video {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
