.page {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0 0 var(--primitives_spacing-4) 0;
}

.first-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-6, 3rem);
  width: 95.1rem;
  height: 132rem;
  margin: 0 auto;
}

.first-title {
  color: white;
  font-family: SUIT;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.1875rem; /* 150% */
  letter-spacing: -0.09375rem;
  margin-bottom: var(--spacing-6, 3rem);
}

.first-article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 82rem;
  height: 119rem;
  padding: 0 6rem 0 6rem;
}

.article-small {
  width: 25rem;
  height: 25rem;
}
