.page {
  height: 100vh;
  background-color: black;

}

.header {
  margin: 0 0 var(--primitives_spacing-4) 0;
}

.body {
  padding: 0 6%;
}

.TrendingCardContainer {
  margin-bottom: var(--primitives_spacing-4);
}