.h1 {
  font-family: var(--default-font-family);
  font-style: var(--default-font-style);
  line-height: var(--default-line-height);
  margin: 0;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.h2 {
  font-family: var(--default-font-family);
  font-style: var(--default-font-style);
  line-height: var(--default-line-height);
  margin: 0;
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.h3 {
  font-family: var(--default-font-family);
  font-style: var(--default-font-style);
  line-height: var(--default-line-height);
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -1.5px;
}

.h4 {
  font-family: var(--default-font-family);
  font-style: var(--default-font-style);
  line-height: var(--default-line-height);
  margin: 0;
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 51px; /* 150% */
  letter-spacing: -1.5px;
}

.h5 {
  font-family: var(--default-font-family);
  font-style: var(--default-font-style);
  line-height: var(--default-line-height);
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: -0.8px;
}

.h6 {
  font-family: var(--default-font-family);
  font-style: var(--default-font-style);
  line-height: var(--default-line-height);
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.15px;
}

.subTitle1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.15px;
  margin: 0;
}

.subTitle2 {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.1px;
  margin: 0;
}

.body1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}

.body2 {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin: 0;
}

.button {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin: 0;
}

.caption {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin: 0;
}

.overline {
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin: 0;
}
